body {
  background-color:#f0f2f1;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.empty {
  font-size: 16px;
  color:#ffc107;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
}

.home {
  background-image: url('../images/10.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navItem{
  margin-bottom: 10px;
}

.get_started{
  margin-bottom: 70px;
}

.header {
  margin-bottom: 50px;
  color: #FFFFFF;
}
.row{
  background-color: #FFF;
  border-radius: 10px;
  padding: 30px
}


/* CSS TITLE  */
.msgTitle{
  
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  
  color:  #ffc107;
}
.msgSubtitle{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 16px;
  font-style: italic;
  /* font-weight: bold; */
  
}

/* CSS dDay */

.meteo{
  /* position: absolute; */
  font-size: 20px;
  font-weight: bold;
}
.date{
  font-size: 40px;
  margin-left: 50px;
  color :  #f4f5f8;
  font-weight: bold;
  
}

/* CSS MAP  */

.mapWeather{
  max-width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dbe0;
  border-radius: 10px;

}

/* CSS CITIES LIST  */

.listGroupInformations{
  display: flex;
  align-items: center;
}
.pictoWarning{
  color: #ffc107; 
}
.imgList{
  margin: 20px;
}
.lowTemp{
margin-right: 10px;
}
.highTemp{
margin-left: 10px;
}
.cities{
  font-weight: bold;
  font-size: 16px;
}